<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<h1>図書館管理アプリへようこそ</h1>
    <h2 th:if="${username == 'admin'}">おかえりなさい <span th:text="${username}">User</span></h2>
    <h2 th:if="${username != 'admin'}">こんにちは <span th:text="${username}">User</span></h2>
    <div class="button-container">
        <button onclick="window.location.href='/books'">View Books</button>
        <button onclick="window.location.href='/user-reservations'">View Reservations</button>
        <div th:if="${username == 'admin'}">
            <button onclick="window.location.href='/admin'">Admin</button>
        </div>
    </div>
</body>
</html>